.navbar{
    background : linear-gradient(90deg,#42a2d1, #6cbdca);
    border: #00ffff;

   
}

.jumbotron{
    font: 4.5em helvetica neue,open sans,sans-serif;
    font-weight: 100;
    animation: 1s ease-out 0s 1 slideInFromLeft;
}
@keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
}

#golive{
    color: whitesmoke
}
#golive:hover{
    display: inline-block;
    color: rgb(1, 88, 122)
}

#submit_room{
    background:#0497ff ;
    color: whitesmoke;
}
#submit_room:hover{
background: #0497ff
}

