<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" dir="ltr">

<head>
  <meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8" />

  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <meta name="google" value="notranslate">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/homestyle.css">

  <title>My App</title>
</head>

<body>

  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
       <a class="navbar-brand" id="golive" href="#">GoLive</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <form class="navbar-form navbar-right">
          <div class="form-group">
            <input type="text" placeholder="Groupname" class="form-control">
          </div>
          <button type="submit" id="submit_room" class="btn btn-success">Go</button>
        </form>
      </div>
    </div>
  </nav>

  <div class="jumbotron">
    <div class="container">
      <h1 class="header">Welcome To GoLive</h1>
      <p>
        Create Room and Start Video Chat, With Amazing Experience on GoLive Its Free!
      </p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
    </div>
  </div>

  <div class="container" style="padding-top: -265px;">
    <img style="width: 100%;" src="/assets/cover.jpg" alt="Cinque Terre">
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h2>Our Plans</h2>
        <p>Get More</p>
        <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Free Plan</h2>
        <p>Some information for section 2 </p>
        <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Commercial Plans</h2>
        <p>Some information for section 1</p>
        <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
      </div>
    </div>

    <hr>

    <footer>
      <p>&copy; GoLive 2018</p>
    </footer>
  </div> <!-- /container -->

  <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</body>
</html>